<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> Azure DevOps Onboarding Automation Framework </title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

</head>
<body>
    </br></br>
    <div align="center">
        <div align="center" class="border">
            <div class="header">
                <h4 class="word">
                    Azure DevOps Onboarding
                    Framework
                </h4>
            </div></br></br></br>
            <h3 class="word">
                <div class="msg">{{ msg }}</div>

                <a href='{{ auth_url }}'>Sign In using Azure MSAL Identity</a>

                {% if config.get("B2C_RESET_PASSWORD_AUTHORITY") %}
                <li>
                    <a href='{{_build_auth_code_flow(authority=config["B2C_RESET_PASSWORD_AUTHORITY"])["auth_uri"]}}'>Reset Password</a>
                </li>
                {% endif %}
                </br></br>
            </h3>
            <hr>
            <footer style="text-align: right">Powered by Genpact Microsoft CoE</footer>

        </div>
    </div>

</body>

</html>